__pycache__
*.py.swp
*.pyc
out_cannonsim.json
out_gauss.json
out_lammps.json
test/test_apps/cannonsim/bin/
tests/cannonsim/bin/
EasyVVUQ_Campaign_*
build/
dist/
easyvvuq.egg-info/
.idea/
.vscode/
docs/_build/
run_tests_psm.sh
pep.sh
*.swp
*.bak
*.db
*.csv
env/
.ipynb_checkpoints/
easyvvuq/_version.py
