numpy
pandas
scipy
wheel
chaospy==4.3.2
SALib
pytest
pytest-pep8
pytest-benchmark
pytest-dependency
SQLAlchemy
cerberus
dask[complete]
dask_jobqueue
cloudpickle
scikit-learn
jinja2
kubernetes
autopep8
squarify
dill
tqdm
qcg-pilotjob @ git+https://github.com/vecma-project/QCG-PilotJob.git@namespaces#subdirectory=components/core&egg=qcg-pilotjob
qcg-pilotjob-executor-api @ git+https://github.com/vecma-project/QCG-PilotJob.git@namespaces#subdirectory=components/executor_api&egg=qcg-pilotjob-executor-api
