numpy
pandas
scipy
wheel
chaospy==4.3.2
numpoly==1.1.3
SALib
pytest
pytest-pep8
pytest-benchmark
pytest-dependency
SQLAlchemy
cerberus
dask[complete]
dask_jobqueue
cloudpickle
scikit-learn
jinja2
kubernetes
autopep8
squarify
dill
tqdm
qcg-pilotjob~=0.12.0
qcg-pilotjob-executor-api~=0.12.0
