{"Qe_tot": "$Qe_tot", "H0": "$H0", "Hw": "$Hw", "Te_bc": "$Te_bc", "chi": "$chi", "a0": "$a0", "R0": "$R0", "E0": "$E0", "b_pos": "$b_pos", "b_height": "$b_height", "b_sol": "$b_sol", "b_width": "$b_width", "b_slope": "$b_slope", "nr": "$nr", "dt": "$dt", "out_file": "$out_file"}
